<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nest App</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Welcome to MVC Nest App</h1>

    {{#each data}}
        <div>
            <h2>Id: {{this.id}}</h2>
            <p>Name: {{this.name}}</p>
        </div>
    {{/each}}

    <script src="js/index.js"></script>

</body>
</html>